@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

header {
  background-color: #7030cc;
  min-height: 100vh;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  padding: 4rem 14rem;
}

/* Navbar */
.logo {
  width: 60%;
}

nav,
.container,
.section-1 .wrapper,
.section-1 .right-section .description-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav .lists {
  display: flex;
  gap: 5rem;
  flex-grow: 1;
  justify-content: flex-end;
}

nav .lists .list-item {
  list-style-type: none;
  margin-right: 5rem;
  font-size: 1.6rem;
  cursor: pointer;
  color: #ede5f9;
}

nav .lists .active {
  color: #1bbcef;
  text-decoration: underline;
  text-decoration-color: #f00;
  text-underline-offset: 0.6rem;
}

nav button {
  padding: 1.3rem 2.5rem;
  background-color: #1bbcef;
  color: #fff;
  border: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
}

.container {
  margin: 7rem 0;
}

.container .left-header h1 {
  color: #fff;
  font-size: 6rem;
}

.container .left-header p {
  color: #fff;
  margin: 3rem 0;
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: normal;
}

/* Section-1 */
.section-1 {
  margin: 10rem 14rem;
}

.section-1 .wrapper > div > img {
  width: 60rem;
}

.section-1 .right-section .description-list {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.section-1 .wrapper {
  margin: 6rem 0;
}

.section-1 .right-section h1 {
  margin: 4rem 0;
  font-size: 4rem;
}

.section-1 .description-list {
  width: 40rem;
}

.section-1 .description-list h4 {
  font-size: 2.3rem;
}

.section-1 .description-list p {
  font-size: 1.4rem;
  padding: 2rem 0;
  margin-left: 2.3rem;
  line-height: 1.9;
}

.icon {
  width: 5%;
}

/* Section-2 */
.section-2 {
  margin: 3rem 14rem;
}

.section-2 h1 {
  margin: 3rem 0;
  text-align: center;
  font-size: 3rem;
}

.features {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 4rem;
  flex-wrap: wrap;
}

.feature {
  border-radius: 2.5rem;
  box-shadow: 0.5rem 0.5rem #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
}

.feature .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feature .content h2 {
  padding-top: 1rem;
  font-size: 1.6rem;
}

.feature .content p {
  width: 25rem;
  padding-top: 1rem;
  text-align: center;
  padding-bottom: 2.5rem;
  font-size: 1.6rem;
}

.ico {
  width: 4rem;
}

.feature .icons {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin-bottom: 2rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-1 {
  background-color: #faeaeb;
}

.icon-2 {
  background-color: #fbf0ee;
}

.icon-3 {
  background-color: #e9f4f6;
}

.icon-4 {
  background-color: #f2e7f5;
}

.bg-color {
  background-color: #7030cc;
  border-radius: 2.5rem;
  color: #fff;
}
