@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #7030cc;
  height: 100vh;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 40px 140px;
}

/* Navbar */
.logo {
  width: 120px;
}

nav,
.container,
.section-1 .wrapper,
.section-1 .right-section .description-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav .lists {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

nav .lists .list-item {
  list-style-type: none;
  margin-right: 50px;
  cursor: pointer;
  color: #ede5f9;
}

nav .lists .active {
  color: #1bbcef;
  text-decoration: underline;
  text-decoration-color: #f00;
  text-underline-offset: 6px;
}

nav button {
  padding: 13px 25px;
  background-color: #1bbcef;
  color: #fff;
  border: none;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
}

.container {
  margin: 70px 0;
}

.container .left-header h1 {
  color: #fff;
  font-size: 60px;
}

.container .left-header p {
  color: #fff;
  margin: 30px 0;
  font-size: 15px;
  line-height: 1.4;
  font-weight: normal;
}

/* Section-1 */
.section-1 {
  margin: 100px 140px;
}

.section-1 .wrapper > div > img {
  width: 600px;
}

.section-1 .right-section .description-list {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.section-1 .wrapper {
  margin: 60px 0;
}

.section-1 .right-section h1 {
  margin: 40px 0;
  font-size: 40px;
}

.section-1 .description-list {
  width: 400px;
}

.section-1 .description-list h4 {
  font-size: 23px;
}

.section-1 .description-list p {
  font-size: 14px;
  padding: 20px 0;
  margin-left: 23px;
  line-height: 1.9;
}

.icon {
  width: 15px;
}

/* Section-2 */
.section-2 {
  margin: 30px 140px;
}

.section-2 h1 {
  margin: 30px 0;
  text-align: center;
  font-size: 30px;
}

.features {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.feature {
  border-radius: 20px;
  box-shadow: 5px 5px #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.feature .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feature .content p {
  width: 250px;
  padding-top: 10px;
  text-align: center;
}

.ico {
  width: 40px;
}

.feature .icons {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-1 {
  background-color: #faeaeb;
}

.icon-2 {
  background-color: #fbf0ee;
}

.icon-3 {
  background-color: #e9f4f6;
}

.icon-4 {
  background-color: #f2e7f5;
}
